<form>
    <div>
        <table class="table table-bordered">
            <tr>
                <td>
                    <app-letter-box ></app-letter-box>
                </td>
                <td>
                    <app-letter-box></app-letter-box>
                </td>
                <td>
                    <app-letter-box></app-letter-box>
                </td>
                <td>
                    <app-letter-box></app-letter-box>
                </td>
                <td>
                    <app-letter-box></app-letter-box>
                </td>
                <td>
                    <app-letter-box></app-letter-box>
                </td>
                <td>
                    <app-letter-box></app-letter-box>
                </td>
                <td>
                    <app-letter-box></app-letter-box>
                </td>
                <td>
                    <app-letter-box></app-letter-box>
                </td>
                <td>
                    <app-letter-box></app-letter-box>
                </td>
            </tr>
        </table>
        <div class="score-display">
        Score : 
        </div>
        
        <button type="button" class="btn btn-primary">Reset Tiles</button>
    
        <button type="button" class="btn btn-secondary">Save Score</button>
    
        <button type="button" class="btn btn-outline-secondary">View Top Scores</button>
        
    </div>
</form>

