<form [formGroup]="playGroundFormGroup">
    <div>
        <table class="table table-bordered">
            <tr>
                <td>
                    <app-letter-box formControlName="letter1"></app-letter-box>
                </td>
                <td>
                    <app-letter-box formControlName="letter2"></app-letter-box>
                </td>
                <td>
                    <app-letter-box formControlName="letter3"></app-letter-box>
                </td>
                <td>
                    <app-letter-box formControlName="letter4"></app-letter-box>
                </td>
                <td>
                    <app-letter-box formControlName="letter5"></app-letter-box>
                </td>
                <td>
                    <app-letter-box formControlName="letter6"></app-letter-box>
                </td>
                <td>
                    <app-letter-box formControlName="letter7"></app-letter-box>
                </td>
                <td>
                    <app-letter-box formControlName="letter8"></app-letter-box>
                </td>
                <td>
                    <app-letter-box formControlName="letter9"></app-letter-box>
                </td>
                <td>
                    <app-letter-box formControlName="letter10"></app-letter-box>
                </td>
            </tr>
        </table>
        <div class="score-display">
        Score : {{totalScore}}
        </div>
        
        <button type="button" class="btn btn-primary">Reset Tiles</button>
    
        <button type="button" class="btn btn-secondary">Save Score</button>
    
        <button type="button" class="btn btn-outline-secondary">View Top Scores</button>
        
    </div>
</form>

